extends layout

block content
  h1
    i.fa.fa-lg.fa-database
    span DIYmatic Accounts
  h2 Welcome to DIYmatic's Accounts!
  p To create your profile or upload a DIY, please sign up or login.
  br
  a(href="https://diymatic.auth0.com/login?client=FkbXOKgCeZPYZnERHvxeo3DsziSXlKf2")
    button() Login/Signup


